B.  Write the PowerShell commands in “Restore-AD.ps1” that perform all the following functions without user interaction:

1.  Check for the existence of an Active Directory Organizational Unit (OU) named “Finance.” Output a message to the console that indicates if the OU exists or if it does not. If it already exists, delete it and output a message to the console that it was deleted.

2.  Create an OU named “Finance.” Output a message to the console that it was created.

3.  Import the financePersonnel.csv file (found in the attached “Requirements2” directory) into your Active Directory domain and directly into the finance OU. Be sure to include the following properties:

•   First Name

•   Last Name

•   Display Name (First Name + Last Name, including a space between)

•   Postal Code

•   Office Phone

•   Mobile Phone

4.  Include this line at the end of your script to generate an output file for submission:

 Get-ADUser -Filter * -SearchBase “ou=Finance,dc=consultingfirm,dc=com” -Properties DisplayName,PostalCode,OfficePhone,MobilePhone > .\AdResults.txt